.form{
    width: 430px;

    background-color: white;
    border-radius: 10px; 
    position: relative;
    margin: auto;
    margin-bottom: 420px;
}

@media screen and (max-width: 882px){
    .form{
        width: 282px;
        height: 322px;
        margin-bottom: 700px;
    }
}