.form{
    width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 10px; 
    position: relative;
    display: none;
}

@media screen and (max-width: 882px){
    .form{
        width: 282px;
        height: 322px;
    }
}

.form__open{
    display: block;
}