.pop-up__item{
    border: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
    padding-bottom: 9px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.pop-up__item:focus{
    outline: none;
}

@media screen and (max-width: 882px){
    .pop-up__item{
        width: 238px;
        padding-bottom: 7px;
    }
}