.form__cross{
    width: 40.7px;
    position: absolute;
    right: -31px;
    top: -35px;
    border: none;
    background: transparent;
}

.form__cross:hover{
    opacity: 0.6;
}

.form__cross:focus{
    outline: none;
}

@media screen and (max-width: 882px){
    .form__cross{
        width: 36px;
        position: absolute;
        right: 1px;
        top: -50px;
    }
}