.element__heart{
    width: 20.7px;
    height: 20.7px;
    padding: 0;
    border: none;
    background-color: white;
    background-image: url('../../../images/heart.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.element__heart:hover{
    opacity: 0.6;
    cursor: pointer;
}

.element__heart:focus{
    outline: none;
}