.profile__button{
    border: 2px solid white;
    background-color: black;
    width: 150px;
    height: 50px;
    padding: 0;
}

.profile__button:hover{
    cursor: pointer;
}

@media screen and (max-width: 882px){
    .profile__button{
        width: 100%;
    }
}