.pop-up{
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease-out;
    visibility: hidden;
}
